body {
    /*Flexbox para o conteúdo*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

canvas {
    display: block;
    margin: 0 auto;
    /* Centraliza o gráfico */
    max-width: 100%;
    /* Responsividade */
    height: auto;
    /* Ajusta a altura proporcionalmente */
}

header {
    background-color: #14213D;
    /*#788585*/
    ;
    text-align: center;
    padding: 05px;
    /*Tamanho da fonte em "em"*/
    font-size: 1.3em;
    /*#788585*/
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    /*Espaço acima do título*/
    padding-top: 15px;
    color: whitesmoke;
}

header h3 {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

main {
    display: flex;
    flex: 1;
}

nav {
    background-color: #FCA311;
    /*#CCDAD1*/
    ;

    flex: 1;
    padding: 20px;
    line-height: 1.3;
    font-size: 1.3em;
    font-family: sans-serif;
}

section {
    background-color: #CCDAD1;
    flex: 4;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 1.25;
    font-size: 1.0em;
    text-align: justify;
    font-family: sans-serif;
    /* height: calc(100vh - 150px);
    overflow-y: auto;*/
    /* Adiciona a barra de rolagem vertical quando necessário */
}

footer {
    background-color: #14213D;
    /*#9CAEA9*/
    ;
    text-align: left;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

footer img {
    /*Imagem à direita e proporção com altura automática (auto)*/
    float: right;
    width: 10%;
    height: auto;
}

ul {
    list-style-type: none;
}

/*Estilos para os links*/

a:link {
    text-decoration: none;
}

a:hover {
    background-color: rgb(225, 127, 255);
}

/*Estilos para as classes*/

.retangulo {
    /*width: 300px;
    /* largura do retângulo */
    padding: 20px;
    /* espaçamento interno do retângulo */
    background-color: #9CAEA9;
    /* cor de fundo do retângulo */
    border: 5px solid #cccccc00;
    /* borda do retângulo */
    height: 100%;
    box-sizing: border-box;
}

.proporcao-imagem {
    max-width: 100%;
    /* Define a largura máxima para a imagem */
    height: 30vh;
    /* Mantém a proporção da altura em % da altura da tela */
    display: block;
    /* Remove espaçamento extra abaixo da imagem */
    margin: 0 auto;
    /* Centraliza a imagem horizontalmente */
    overflow: hidden;
    /* Esconde o conteúdo que ultrapassa os limites do contêiner */
}

.footer-content {
    justify-content: space-between;
    /* Espaço entre os elementos */
    align-items: center;
    /*Centraliza verticalmente */
    display: flex;
    color: whitesmoke;
}

/*IDs para os gráficos*/

#info-receita,
#info-saude,
#info-educacao {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}